# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTFUL_SPACE_ID="qdbmuae5j71l"
CONTENTFUL_ACCESS_TOKEN="4uaL5I2wbjcZ8ljiGjFbm0hyc0LDRgLYI7akQ74galY"
